* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:minmax(120px, auto) repeat(5, 100px);;
  }
  
  .grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #faE9DD;
    outline: none;s: minmax(120px, auto) repeat(5, 100px);
    background-color: #efd3bf;
  }

  .grid-container{
    background-color: #fae9dd;
  }
  
  .grid-container > button:hover {
    background-color: #e09f74;
    color: #fff;
  }
  
  .grid-container > .operator {
    background: #a6522b;
    color: #fff;
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .grid-container > .output {
    grid-column: 1 / -1;
    background: #a6522b;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .grid-container > .output > .previous-operand {
    color: #000;
    font-size: 1.5rem;
  }
  
  .grid-container > .output > .current-operand {
    color: #fff;
    font-size: 2.5rem;
  }